<div class="card my-2">
  <div class="card-body">
    <div class="row">
      <div class="col-2 d-flex align-items-center">
        <img [src]="fileService.getFileUrlByUUID(order.item.pictureUUID)" alt="{{order.item.name}} picture" class="img-fluid img-sm">
      </div>
      <div class="col-2 d-flex align-items-center">
        <h4 class="mb-1">{{order.item.name}}</h4>
      </div>
      <div class="col-4">
        <small class="text-muted d-block">Prodávající: <a [routerLink]="['/', 'user-profile', order.seller.id]"
                                                          class="text-decoration-none">{{order.seller.firstName}} {{order.seller.lastName|slice:0:1}}</a>
        </small>
        <small class="text-muted d-block">Kupující: <a [routerLink]="['/', 'user-profile', order.buyer.id]"
                                                       class="text-decoration-none">{{order.buyer.firstName}} {{order.buyer.lastName|slice:0:1}}</a>
        </small>
        <small class="text-muted d-block">
          Vytvořeno: {{order.created|date:'dd. MM. YYYY v hh:mm'}}
        </small>
      </div>
      <div class="col-2 d-flex align-items-center flex-wrap">
        <h5 class="m-0 w-100">{{getTotalPrice()}} kč</h5>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-end">
        <div class="btn btn-outline-primary" [routerLink]="['/', 'account', 'order', order.orderId]">
          Detail
        </div>
      </div>
    </div>
  </div>
</div>
