<h1 class="mt-4 text-center">Vítejte na webovém portálu <strong>Auctioner</strong>!</h1>

<div class="row mt-4">
  <div class="col-12">
    <div class="alert alert-danger">
      <strong>Důležité upozornění:</strong> Nejedná se o reálnou webovou službu! Tato webová aplikace byla navržena a implementována v rámci realizace diplomové práce na Mendelově univerzitě v Brně.
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <h3>Základní informace</h3>
    <ul>
      <li>TODO</li>
      <li>TODO</li>
      <li>TODO</li>
    </ul>
  </div>
</div>
