<div class="card h-100">
  <img [src]="this.fileService.getFileUrlByUUID(item.pictureUUID)" class="card-img-top" alt="{{item.name}}">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">
      {{item.description|slice:0:100}}
    </p>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <small class="text-muted" [innerHTML]="getActualPriceState()"></small>
    <div class="btn btn-primary" [routerLink]="['/item', item.id]">Zobrazit detail</div>
  </div>
</div>
