<div class="card my-2">
  <div class="card-body">
    <div class="row">
      <div class="d-flex align-items-center justify-content-center col-12 col-sm-3 col-md-2 mb-md-0 mb-3">
        <img [src]="fileService.getFileUrlByUUID(cartItem.pictureUUID)" alt="{{cartItem.name}} picture" class="img-fluid img-sm">
      </div>
      <div class="col-12 col-sm-6 col-md-4  mb-md-0 mb-3">
        <h4 class="m-0">{{cartItem.name}}</h4>
        <small class="text-muted">Od prodejce <a [routerLink]="['/', 'user-profile', cartItem.seller.id]"
                                                 class="text-decoration-none">{{cartItem.seller.firstName}} {{cartItem.seller.lastName|slice:0:1}}</a>
        </small>
      </div>
      <div class="col-6 col-sm-3 col-md-4 d-flex align-items-center flex-wrap mb-md-0 mb-sm-3 mb-0">
        <h5 class="m-0 w-100 text-center">{{cartItem.itemHighestBid.amount}} kč</h5>
        <small class="text-muted text-center" *ngIf="(cartItem.delivery?.price + cartItem.payment?.price) > 0">
          (+ {{cartItem.delivery?.price + cartItem.payment?.price}} kč)</small>
      </div>
      <div class="col-6 col-sm-12 col-md-2 d-flex align-items-center justify-content-end">
        <div class="btn btn-outline-primary" [routerLink]="['/', 'account', 'cart', cartItem.id]">
          Zakoupit
        </div>
      </div>
    </div>
  </div>
</div>
