<div class="row">
  <div class="col-12 mb-3">
    <h2>Dokončení nákupu</h2>
  </div>
  <div *ngIf="cartItem">

    <div class="row">
      <div class="col-12">
        <div class="card mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-5 d-flex align-items-center mb-3 mb-sm-0">
                <img [src]="fileService.getFileUrlByUUID(cartItem.pictureUUID)" alt="{{cartItem.name}} picture"
                     class="img-fluid img-md">
              </div>
              <div class="col-12 col-sm-7">
                <h1 class="m-0">{{cartItem.name}}</h1>
                <small class="text-muted">Od prodejce <a [routerLink]="['/', 'user-profile', cartItem.seller?.id]"
                                                         class="text-decoration-none">{{cartItem.seller?.firstName}} {{cartItem.seller?.lastName|slice:0:1}}</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card mb-2">
          <div class="card-body">
            <h4 class="d-flex justify-content-between align-items-center">
              <strong>Cena produktu:</strong>
              <span>{{cartItem.itemHighestBid?.amount}} kč</span>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 mb-2 mb-lg-0">
        <div class="card">
          <div class="card-body">
            <h4><strong>Doprava:</strong></h4>

            <div class="detail-box px-0 mt-3 d-flex justify-content-between border-0">
          <span>
          <img [src]="this.fileService.getFileUrlByUUID(cartItem.delivery.logoUUID)" class="img-fluid me-2"
               alt="Doprava">
            {{cartItem.delivery?.name}}
          </span>
              <span class=" ms-1 text-muted">
                            {{cartItem.delivery?.price}} kč
                          </span>
            </div>

            <hr class="my-3">

            <span *ngIf="cartItem.delivery.id === 1">
          Zboží vám doručí přepravní společnost následující pracovní den od data odeslání.
        </span>

            <div *ngIf="cartItem.delivery.id === 2">
              <div class="mb-2">
                Zboží vám předá prodejce na následujících adresách:
              </div>
              <ul>

                <li *ngFor="let address of cartItem.seller.addresses">
                  {{address.street}} {{address.streetNumber}}, {{address.zipcode}} {{address.city}}
                </li>
              </ul>

              <small class="text-muted">
                Na přesném místě předání se s prodejcem domluvte skrze email <a
                href="mailto:{{cartItem.seller.email}}">{{cartItem.seller.email}}</a>
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4><strong>Platba:</strong></h4>

            <div class="detail-box px-0 mt-3 d-flex justify-content-between border-0">
          <span>
          <img [src]="this.fileService.getFileUrlByUUID(cartItem.payment.logoUUID)" class="img-fluid me-2"
               alt="Platba">
            {{cartItem.payment?.name}}
          </span>
              <span class=" ms-1 text-muted">
                            {{cartItem.payment?.price}} kč
                          </span>
            </div>

            <hr class="my-3">

            <span *ngIf="cartItem.payment.id === 1">
          Zboží zaplatíte při převzetí
          </span>

            <div *ngIf="cartItem.payment.id === 2">
              <div class="mb-3">
                Zboží uhraďte pomocí platební brány kliknutím na odkaz níže
              </div>

              <div class="d-flex justify-content-center align-items-center">
                <div class="btn btn-success btn-lg btn-block w-100">
                  Zaplatit
                </div>
              </div>

            </div>

            <div *ngIf="cartItem.payment.id === 3">
              <div class="mb-2">
                Zboží uhraďte předem na jeden z následujících bankovních účtů
              </div>
              <ul>

                <li *ngFor="let bankAccount of cartItem.seller.bankAccounts">
                  {{bankAccount.prefix}} {{bankAccount.number}} / {{bankAccount.bankCode}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mt-4">
        <h2 class="d-flex justify-content-end"><strong class="me-2">Celkem: </strong> <span>{{getTotalPrice()}} kč</span></h2>
      </div>

      <div class="col-12 mt-4">
        <div class="btn btn-primary btn-lg btn-block w-100" (click)="createOrder()">
          Dokončit objednávku
        </div>
      </div>
    </div>
  </div>
</div>
