#alerts-wrapper {
  z-index: 10000000;
  position: fixed;
  left: 50%;
  min-width: 550px;

  .inner-alert {
    position: relative;
    left: -50%;
    display: flex;
    align-items: center;

    a {
      margin-right: 1rem;
      font-size: 1.5rem;
      line-height: 1.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
