<div class="row">
  <div class="col-12">
    <h2 class="mb-4 mt-5">Ochrana osobních údajů </h2>
  </div>
  <div class="col-12 mb-4">
    <h3>
      Kdo jsme
    </h3>
    <p>
      Jsem Jan Hrbotický, autor této stránky, která není plně funkční aplikací z reálného prostředí, ale práce
      vypracovaná v rámci realizace diplomové práce na Mendělově univerzitě v Brně. Obsahem tohoto dokumentu jsou
      informace o ochraně Vašich osobních údajů, zejména tedy jejich ukládání, práce s nimi a proč je vlastně
      potřebujeme.
    </p>
  </div>

  <div class="col-12 mb-4">
    <h3>
      Jaké osobní údaje od vás potřebujeme a pro jaké účely je používáme
    </h3>
    <p>
      Pro samotné prohlížení webu <strong>nepotřebujeme žádné osobní údaje</strong>.
    </p>
    <div>
      <strong>Pro aktivní užívání stránky můžeme požadovat osobní údaje v případech:</strong>
      <ul>
        <li><strong>Registrace</strong>:
          V tomto případě potřebujeme vaše křestní jméno, příjmení a email. Jméno a příjmení bude zobrazeno v celé své
          podobě pouze v případě prodeje či nákupu a to pouze pro protějšek. Email slouží jako přihlašovací údaj a bude
          zobrazen na stránce uživatele. <strong>Všechny tyto údaje lze po registraci změnit v nastavení účtu</strong>
        </li>
        <li><strong>Úprava bankovních účtů</strong>: Při přidávání bankovního účtu potřebujeme znát jeho celý formát.
          Používáme jej v případě prodeje, konkrétně v případě prodeje položky, u které je vyžadována platba bankovním
          účtem. K údajům se dostane pouze přímý protějšek, tedy kupec. Záznam bankovního účtu lze kdykoli smazat v
          nastavení účtu.
        </li>
        <li><strong>Úprava adresy</strong>: Při přidávání adresy potřebujeme znát její celé změní, tedy ulici, číslo
          popisné, město s PSČ. Používáme ji v případě prodeje, konkrétně v případě prodeje položky, u které je doprava
          řešena osobním předáním. K údajům se dostane pouze přímý protějšek, tedy kupec. Záznam adresy lze kdykoli
          smazat v nastavení účtu.
        </li>
        <li><strong>Úprava účtu</strong>: Na této kartě lze mimo <strong>úpravy osobním údajů</strong> přidat i avatar.
          Tento avatar bude zobrazen na detailu karty uživatele a v případě přihlášeného uživatele také v hlavičce
        </li>
      </ul>
    </div>
  </div>

  <div class="col-12 mb-4">
    <h3>
      Kdo se k osobním údajům dostane
    </h3>
    <p>
    </p>
    <ul>
      <li>K vašim údajům se dostanou pouze proškolení a prověření administrátoři. Veškerá data jsou pak skladována na
        zabezpečeném serveru s omezeným přístupem.
      </li>
    </ul>
    <p></p>
  </div>

  <div class="col-12 mb-4">
    <h3>
      Jaká máte práva
    </h3>
    <p>
      Nařízení GDPR (nařízení Evropského parlamentu a Rady EU č. 2016/679 o ochraně fyzických osob v souvislosti se
      zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES), které oblast ochrany
      osobních údajů upravuje, Vám dává mimo jiné právo:
    </p>
    <p>
    </p>
    <ul>
      <li>Dle článku 15 obrátit se na nás a chtít informace, jaké Vaše osobní údaje zpracováváme, a vyžádat si u nás
        přístup k těmto údajům
      </li>
      <li>Dle článku 16 nechat svoje osobní údaje aktualizovat nebo opravit</li>
      <li>Dle článku 17 požadovat v určitých situacích výmaz osobních údajů</li>
      <li>Dle článku 20 požadovat v určitých případech přenositelnost osobních údajů k jinému správci</li>
      <li>Kdykoliv odvolat svůj souhlas se zpracováním osobních údajů</li>
    </ul>
    <p></p>
    <p>
      S případnými dotazy a požadavky se na nás prosím obraťte některým z informačních kanálů uvedených v patičce
    </p>
  </div>
</div>

<hr class="my-4">

<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Informace o cookies</h2>
  </div>
  <div class="col-12 mb-4">
    <h3>
      Jaké cookies zpracováváme
    </h3>
    <p>
      Na našich stránkách můžeme využívat cookies pro měření a analýzu dat návštěvníků (analytické cookies), které nám
      pomohou stránky optimalizovat pro vaše pohodlí
      Zpracování tohoto typu cookies je možné díky GDPR, tedy nařízení Evropského parlamentu a Rady Evropské unie č.
      2016/679 o ochraně fyzických osob v souvilosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o
      zrušení směrnice 95/46/ES.
    </p>
    <p>
      Dalším typem cookies, které si na stránce ukládáme jsou tzv. <i>funkční cookies</i>. Jedná se zejména o hodnoty,
      za pomocí kterých můžeme zobrazovat tak, jak je vyžadováno (například souhlas s cookies, zavření vyskakujícího
      okna atp.)
    </p>
  </div>

  <div class="col-12 mb-4">
    <h3>
      Jak cookies vypnout
    </h3>
    <p>
      Cookies lze samozřejmě vypnout v nastavení prohlížeče. Stejného efektu dosáhnete také v případě, že budete stránku
      prohlížet v anonymním řežimu.
    </p>
  </div>

  <div class="col-12 mb-4">
    <h3>
      Kdo cookies zpracovává
    </h3>
    <p>
    </p>
    <ul>
      <li>poskytovatel služby Google Analytics a Google Ads Remarketing, provozovaný společností Google Inc., sídlem
        1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, v souladu se svými <a
          href="https://policies.google.com/technologies/cookies?hl=cs" target="_blank">podmínkami</a></li>
      <li>Tento web. Vzhledem k tomu, že se nejedná o reálnou aplikaci, nepracuje s daty z cookies nijak jinak než pro
        zajištění chodu aplikace pro účely předvedení funkčnosti
      </li>
    </ul>
    <p></p>
  </div>

  <div class="col-12 mb-4">
    <h3>
      Přehled cookies
    </h3>
    <p>
    </p>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Typ</th>
          <th scope="col">Název</th>
          <th scope="col">Účel</th>
          <th scope="col">Expirace</th>
          <th scope="col">Přístup k informacím</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Funkční</th>
          <td>loggedUser</td>
          <td>Identifikace aktuálně přihlášeného uživatele</td>
          <td>po dobu sezení</td>
          <td>Naše aplikace</td>
        </tr>
        <tr>
          <th scope="row">Funkční</th>
          <td>enableCookie</td>
          <td>Identifikace potvrzení souhlasu s cookies</td>
          <td>30 dní</td>
          <td>Naše aplikace</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p>
      <strong>Domény scriptů třetích stran, které mohou používat vlastní cookies:</strong>
    </p>
    <ul>
      <li>ajax.googleapis.com</li>
      <li>googletagmanager.com</li>
      <li>googleads.g.doubleclick.net</li>
      <li>google-analytics.com</li>
      <li>google.com</li>
      <li>google.cz</li>
      <li>googleadservices.com</li>
      <li>googletagmanager.com</li>
    </ul>
    <p></p>
    <p></p>
  </div>
</div>


<div class="row mt-5">
  <div class="col-12">
    <h3>
      Kam dál
    </h3>
    <p>
    </p>
    <ul>
      <li><a routerLink="/">Na hlavní stránku</a></li>
      <li><a routerLink="/item">Na stránku aukcí</a></li>
    </ul>
    <p></p>
  </div>
</div>
