<header class="d-flex flex-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <div class="d-flex align-items-baseline me-auto">
    <a class="h4 my-0 fw-normal text-dark text-decoration-none" routerLink="">Auctioner</a>
    <nav class="ms-md-3 ms-1 d-flex">
      <a class="px-2 nav-link" href="#">Aukce</a>
    </nav>
  </div>

  <a class="btn btn-sm btn-outline-primary me-2" routerLink="/login">Přihlášení</a>
  <a class="btn btn-sm btn-success d-none d-sm-block" routerLink="/register">Registrace</a>
  <ul class="list-unstyled m-0">
    <li class="nav-item dropdown list-unstyled">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
         aria-expanded="false">
        <img src="{{avatarPath}}" alt="" class="rounded-circle img-fluid header-avatar">
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="dropdown-item-text">
          <div>Jméno příjmení</div>
          <small class="text-muted">email@email.com</small>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Můj košík</a></li>
        <li><a class="dropdown-item" routerLink="/account">Můj profil</a></li>
        <li><a class="dropdown-item" href="#">Mé objednávky</a></li>
        <li><a class="dropdown-item" href="#">Vystavit předmět</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Odhlásit se</a></li>
      </ul>
    </li>
  </ul>
</header>

