<div class="row">
  <div class="col-12">
    <h2>Mé objednávky</h2>
  </div>

  <div *ngIf="orders && orders.length > 0; else noItems">
    <div class="col-12" *ngFor="let order of orders">
      <app-order-preview [order]="order"></app-order-preview>
    </div>
  </div>

  <ng-template #noItems>
    <div class="row mt-4">
      <div class="col-12 mb-4">
        <div class="d-flex justify-content-center">
          <h2><i class="bi bi-emoji-frown"></i></h2>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <h5>Zatím u vás neevidujeme žádné objednávky. Zkuste <a routerLink="/item">přihodit</a> na nějaké nabídky a objednávku vytvořit.
          </h5>
        </div>
      </div>
    </div>
  </ng-template>
</div>
