<div class="row">
  <div class="col-12">
    <h4 class="mb-3">Změna hesla</h4>
  </div>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onchangePasswordFormSubmit()">
    <div class="form-floating mb-2">
      <input type="password"
             class="form-control"
             id="change-password"
             placeholder="Heslo"
             formControlName="password"
             required="required"
             [class.is-invalid]="changePasswordForm.get('password').touched && changePasswordForm.get('password').errors"
             [class.is-valid]="changePasswordForm.get('password').touched && !changePasswordForm.get('password').errors"
      >
      <label for="change-password">Heslo</label>
      <div class="invalid-feedback"
           *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').hasError('required')">
        Toto pole je povinné
      </div>
      <div class="invalid-feedback"
           *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').hasError('minlength')">
        Minimální požadovaná délka hesla je {{passwordMinLength}}
      </div>
    </div>

    <div class="form-floating mb-2">
      <input type="password"
             class="form-control"
             id="login-password-repeat"
             placeholder="Heslo znovu"
             formControlName="passwordRepeat"
             required="required"
             [class.is-invalid]="changePasswordForm.get('passwordRepeat').touched && changePasswordForm.errors?.passwordMismatch"
             [class.is-valid]="changePasswordForm.get('passwordRepeat').touched && !changePasswordForm.errors?.passwordMismatch"
      >
      <label for="login-password-repeat">Heslo znovu</label>
      <div class="invalid-feedback"
           *ngIf="changePasswordForm.get('passwordRepeat').touched && changePasswordForm.get('passwordRepeat').hasError('required')">
        Toto pole je povinné
      </div>
      <div class="invalid-feedback"
           *ngIf="changePasswordForm.get('passwordRepeat').touched && changePasswordForm.errors?.passwordMismatch">
        Hesla se neshodují
      </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block w-100"
            type="submit"
            [disabled]="!changePasswordForm.valid || !changePasswordForm.touched || changePasswordFormSubmitting">
      Změnit heslo
    </button>
    <small class="text-muted">Pole označená <span class="text-info">tyrkysovým okrajem</span> jsou povinná.</small>
  </form>
</div>
