<app-cookies></app-cookies>
<div class="container pt-4">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block text-muted text-center mb-2">Aplikace byla realizována jako diplomová práce na <a href="https://mendelu.cz/" target="_blank">Mendelově univerzitě v Brně</a></small>
        <div class="d-flex justify-content-center">
          <a href="https://mendelu.cz/" target="_blank"><img src="assets/img/mendelu.jpg" class="img-fluid" width="150px"/></a>
        </div>
        <hr>
        <div class="d-flex justify-content-center mb-1">
          <h4 class="me-2">
            <a href="https://github.com/Johnczek"><i class="bi bi-github text-secondary"></i></a>
          </h4>
          <h4>
            <a href="https://www.linkedin.com/in/jan-hrboticky/"><i class="bi bi-linkedin text-secondary"></i></a>
          </h4>
        </div>
        <small class="d-block text-muted d-block text-center">Jan Hrbotický</small>
        <small class="d-block mb-3 text-muted d-block text-center">© 2020-{{date}}</small>
      </div>
      <div class="col-6 col-md d-none d-md-block"></div>
      <div class="col-6 col-md">
        <h5>Kam dál</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://mendelu.cz/">Mendelu</a></li>
          <li><a class="link-secondary" href="https://www.pef.mendelu.cz/">PEF Mendelu</a></li>
          <li><a class="link-secondary" href="https://is.mendelu.cz/">IS Mendelu</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Užitečné odkazy</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" routerLink="/item">Aukce</a></li>
          <li><a class="link-secondary" routerLink="/gdpr">Ochrana osobních údajů</a></li>
          <li><a class="link-secondary" routerLink="/login" *ngIf="!userService.isUserLoggedIn()">Přihlášení</a></li>
          <li><a class="link-secondary" routerLink="/register" *ngIf="!userService.isUserLoggedIn()">Registrace</a></li>
          <li><a class="link-secondary" href="#" (click)="userService.logOut()" *ngIf="userService.isUserLoggedIn()">Odhlásit se</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
