<main class="wrapper" *ngIf="item">
  <div class="row my-4">
    <div class="col-12">
      <h2>Nabídka {{item.name}} od prodejce <a [routerLink]="['/', 'user-profile', item.seller.id]"
                                               class="text-decoration-none">{{item.seller.firstName}} {{item.seller.lastName|slice:0:1}}
        </a>.
      </h2>
      <small class="text-muted">
        ID: {{item.id}}
        | Vystaveno {{item.validFrom|date:'dd. MM. YYYY v hh:mm'}}
        | <span *ngIf="ws" class="text-success">Automatická obnova aktivní</span>
        <span *ngIf="!ws" class="text-warning">Automatická obnova není aktivní. <a class="text-dark" (click)="connectToWsBroadcast()">Obnovit</a></span>
      </small>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div
          [class.border]="item?.itemHighestBid?.userId == this.loggedUser?.id"
          [class.border-success]="item?.itemHighestBid?.userId == this.loggedUser?.id"
          class="card-body">
          <div class="row">
            <div class="col-lg-4 col-12 d-flex justify-content-center mb-lg-0 mb-4">
              <img [src]="this.fileService.getFileUrlByUUID(item.pictureUUID)"
                   alt="Obrázek k nabídce {{item.name}}"
                   class="img-fluid">
            </div>
            <div class="col-lg-8 col-12">
              <div class="ps-2">
                <div class="row">
                  <div class="col-sm-6 col-12 mb-3 mb-sm-0">
                    <div class="row">
                      <div class="col-12 mb-2">
                        <strong class="me-2" *ngIf="item.state === 'ACTIVE'">Aktuální cena</strong>
                        <strong class="me-2" *ngIf="item.state !== 'ACTIVE'">Cena</strong>
                        <h2 class="text-warning mb-1">{{this.currentPrice}} kč</h2>
                        <div class="text-muted mb-1"><strong class="me-2">Vyvolávací
                          cena:</strong> {{item.startingPrice}} kč
                        </div>
                        <div class="text-muted" *ngIf="item.state === 'ACTIVE'"><strong class="me-2">Konec aukce:</strong> <span
                          class="text-danger">{{item.validTo|date:'dd. MM. YYYY v hh:mm'}}</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-12">
                    <div class="row">
                      <div>
                        <div class="col-12 mb-2">
                          <h4 class="text-muted">
                            Zaujala vás tato nabídka?
                          </h4>
                        </div>
                        <div class="col-12"
                             *ngIf="item.state === 'ACTIVE' && this.loggedUser != null; else notLoggedUserOrInactiveItem">
                          <div class="mb-1">
                            <form [formGroup]="bidForm" (ngSubmit)="makeBid()" class="input-group">
                              <button
                                [attr.disabled]="item?.itemHighestBid?.userId == this.loggedUser?.id ? '' : null"
                                [class.btn-secondary]="item?.itemHighestBid?.userId == this.loggedUser?.id"
                                class="btn btn-outline-primary"
                                type="submit"
                                id="bid-button">Přihodit</button>
                              <input type="number"
                                     class="form-control"
                                     placeholder="Hodnota příhozu"
                                     aria-label="Hodnota příhozu"
                                     aria-describedby="bid-button"
                                     formControlName="amount"
                                     [attr.disabled]="item?.itemHighestBid?.userId == this.loggedUser?.id ? '' : null"
                                     [min]="getLowestPossibleBid()">
                              <span class="input-group-text">kč</span>
                            </form>
                          </div>
                          <div class="div mb-3" *ngIf="item?.itemHighestBid?.userId == this.loggedUser?.id">
                            <strong class="text-success d-block text-center" *ngIf="item.state === 'ACTIVE'">Vyhráváte!</strong>
                          </div>
                        </div>
                      </div>

                      <ng-template #notLoggedUserOrInactiveItem>
                        <div class="col-12" *ngIf="item.state !== 'ACTIVE'; else notLoggedUser">
                          <div class="alert alert-info">
                            Je nám líto, ale tato aukce již <strong>není aktivní</strong>. Prohlédněte si <a
                            routerLink="/item">jiné aukce</a>.
                          </div>
                          <strong class="text-success d-block text-center" *ngIf="item.state !== 'ACTIVE' && item?.itemHighestBid?.userId == this.loggedUser?.id">Gratuluji, vyhrál(a) jste!</strong>
                        </div>
                      </ng-template>

                      <ng-template #notLoggedUser>
                        <div class="col-12">
                          <div class="alert alert-info">
                            Abyste mohli přihazovat, musíte být <a routerLink="/login">přihlášený</a>.
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-md-6 col-12 mb-3 mb-md-0">
                        <h5>Doprava:</h5>
                        <div class="detail-box">
                          <img [src]="this.fileService.getFileUrlByUUID(item.delivery.logoUUID)" class="img-fluid me-2"
                               alt="Doprava">
                          {{item.delivery.name}}
                          <span class=" ms-1 text-muted">
                            (+{{item.delivery.price}} kč)
                          </span>
                        </div>
                      </div>

                      <div class="col-md-6 col-12">
                        <h5>Platba:</h5>
                        <div class="detail-box">
                          <img [src]="this.fileService.getFileUrlByUUID(item.payment.logoUUID)" class="img-fluid me-2"
                               alt="Platba">
                          {{item.payment.name}}
                          <span class=" ms-1 text-muted">
                            (+{{item.payment.price}} kč)
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row mt-4" *ngIf="item.description">
    <div class="col-12">
      <h3>Popis nabídky:</h3>
    </div>
    <div class="col-12 mt-3">
      {{item.description}}
    </div>
  </div>
</main>
