<div class="row my-4">
  <div class="col-lg-4 col-md-8 col-12 mx-auto">
    <form>
      <h1 class="h3 mb-4 font-weight-normal">Přihlášení</h1>

      <div class="form-floating mb-2">
        <input type="email" class="form-control" id="login-email" placeholder="Emailová adresa">
        <label for="login-email">Emailová adresa</label>
      </div>

      <div class="form-floating mb-2">
        <input type="password" class="form-control" id="login-password" placeholder="Heslo">
        <label for="login-password">Heslo</label>
      </div>

      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="login-rebember-me">
        <label class="form-check-label" for="login-rebember-me">
          Zapamatujte si mě
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block w-100" type="submit">Přihlásit se</button>
      <div class="text-center d-block mt-3"><a href="">Ještě nemáte účet?</a></div>
    </form>
  </div>
</div>
