/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";

input:required, textarea:required, select:required {
  border-color: $info;
}


.list-group {
  .list-group-item {

    @extend .p-0;

    a {
      @extend .d-block;
      @extend .text-decoration-none;
      @extend .text-dark;
      padding: 0.5rem 1rem;

      &:hover {
        background-color:rgba(0, 0, 0, 0.1);
      }

      &.active {
        background: $primary;
        color: $white !important;
      }
    }
  }
}


.detail-box {
  padding: .5rem;
  border: 1px solid $gray-200;
  max-height: 3rem;
  display: flex;
  align-items: center;

  img {
    max-height: 1.5rem;
  }
}

.img-xs {
  max-width: 3rem;
}

.img-sm {
  max-width: 5rem;
}

.img-md {
  max-width: 10rem;
}

